@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import "nord.scss";

body {
  font-family: Rubik;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $nord0;
  color: $nord8;
}

.title {
  font-size: 50pt;
}

.white-text {
  color: $nord6;
}

.sound-toggle {
  cursor: pointer;
}

.copy {
  background-color: $nord2;
  cursor: pointer;
}

.copy::hover {
  background-color: $nord3;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.75rem;
  max-width: 60rem;
}

.span-col-2 {
  grid-column: span 2 / auto;
}

.nord-card {
  background-color: $nord1;
  box-shadow: rgba(15, 17, 21, 0.25) 0px 4px 6px, rgba(15, 17, 21, 0.1) 0px 5px 7px;
  transition: box-shadow 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s;
  transition-property: box-shadow, background-color;
  transition-duration: 300ms, 300ms;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
}

.nord-card:hover {
  box-shadow: rgba(15, 17, 21, 0.25) 0px 9px 9px, rgba(15, 17, 21, 0.1) 0px 9px 9px;
}

a:link {
  color: rgb(171, 185, 207);
}

a:visited {
  color: rgb(171, 185, 207);
}

a:hover {
  color: $nord6;
}

a:active {
  color: $nord6;
}
