$bg-primary: #282c34;
$bg-secondary: #3E4451;
$bg-third: #3C4049;
$text: #ABB2BF;
$yellow: #E5C17C;
$red: #E06C75;
$blue: #51afef;
$magenta: #c678dd;

body {
  font-family: "JetBrains Mono", monospace;
  background-color: $bg-primary;
  color: $text;
}

svg.iconify {
  display: inline;
}

.header {
  @apply text-center mt-5 mb-8;
}

.main {
  @apply flex flex-wrap justify-center;
}

.section {
  @apply my-4 rounded shadow-md hover:shadow-lg transition p-6 mx-4 flex flex-col max-w-7xl;
  background-color: $bg-secondary;

  .subtitle {
    color: $yellow;
    @apply text-3xl text-center;
    &:not(.centered-section) {
      @apply mb-5;
    }
  }
}

.title {
  color: $red;
  @apply text-6xl mb-2;
}

.code {
  background-color: $bg-primary;
  @apply text-white-500;
  @apply rounded p-2 mt-2;
}

.project-card {
  @apply mx-auto mb-3 text-center w-xs lg:w-lg px-7 py-4 rounded;
  background-color: $bg-third;

  img {
    @apply mb-3 mx-auto rounded w-sm;
  }
}

a {
  color: $blue;

  svg {
    vertical-align: middle;
  }

  &:hover {
    color: $magenta;
  }
}

.tooltip {
  @apply relative cursor-pointer;

  &:focus-within .tooltip-content, {
    @apply block cursor-text;
  }

  // define show-hide-toast animation
  @keyframes show-hide-toast {
    0% {
      opacity: 0;
      transform: translate(-50%, 25%);
    }
    10% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
    90% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, 25%);
    }
  }

  &::before {
    content: 'Copied to clipboard';

    position: absolute;
    top: 150%;
    left: 50%;

    background: $bg-third;
    color: $yellow;

    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;

    // hide by default
    opacity: 0;
    transform: translate(-50%, 25%);

    // prepare animation
    animation: show-hide-toast 2s ease-in-out forwards;
    animation-play-state: paused;
  }

  // play on focus
  &:focus {
    &::before {
      animation-play-state: running;
    }
  }

  & .tooltip-content {
    @apply absolute hidden text-center p-3 rounded-xl shadow-lg whitespace-pre-wrap;
    content: attr(data-tooltip);
    top: -90%;
    left: 50%;
    transform: translate(-50%, -90%);
    background: $bg-third;
    color: $text;
  }
}

.with-icon {
  @apply whitespace-nowrap;
}

.footer {
  @apply text-center mt-5 mb-8;
}
